@import "src/common-styles";

.resume-item-title {
  font-weight: bold;
}

.years {
  color: $purple;
  text-align: right;
  position: relative;
  top: 8px;

  &.right {
    right: -150px;
    position: absolute;
    top: 46px;
  }

  &.left {
    left: -150px;
    position: absolute;
    top: 46px
  }
}

.company {
  color: $pink;
}

.role {
  color: $purple;
}

.resume-icon {
  height: 30px;
  margin-right: 6px;
}
