@import "src/common-styles";

.resume-item-title {
  font-weight: bold;
  //font-size: $subtitle-size;
}

.years {
  color: $purple;
  text-align: center;
  margin-bottom: 7%;
  font-weight: bold;
  font-size: 1.6rem;
  position: inherit;
}

.company {
  color: $pink;
}

.role {
  color: $purple;
}

.resume-icon {
  height: 30px;
  margin-right: 6px;
}

@media all and (min-width: 600px) {
  .years {
    color: $purple;
    text-align: right;
    position: relative;
    top: 8px;
    font-size: $text-size;

    &.right {
      right: -150px;
      position: absolute;
      top: 46px;
    }

    &.left {
      left: -150px;
      position: absolute;
      top: 46px
    }
  }
}
