$dot-size: 25px;
$dot-increase-factor: 1.6;
$animation-time: 300ms;

#wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00021b;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dot {
	width: $dot-size;
	height: $dot-size;
	border-radius: 50%;
	margin: 0 auto;
	-webkit-transition: all $animation-time ease-in-out;
	-moz-transition: all $animation-time ease-in-out;
	-ms-transition: all $animation-time ease-in-out;
	-o-transition: all $animation-time ease-in-out;
	transition: all $animation-time ease-in-out;
}

.dot-container {
	display: flex;
	align-items: center;
	width: $dot-size * $dot-increase-factor;
	height: $dot-size * $dot-increase-factor;
}

.big {
	width: $dot-size * $dot-increase-factor;
	height: $dot-size * $dot-increase-factor;
}
