.hero {
	height: 100vh;
	position: relative;
	text-align: center;
	width: 100%;
	min-height: 350px;
	background-color: #252a30;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-bottom: 3px solid deeppink;
}

.white {
	background-color: white;
	height: 100vh;
}

.greeting {
	width: 445px;
	position: absolute;
	top: 25%;
	right: 20px;
	text-align: left;
	font-size: 21px;
	color: #fff;
}

.greeting-text {
	font-size: 2em;
	color: white;
}

.background {
	background-image: url('../../../assets/me6.jpg');
}
