.menu {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100vh;
	overflow-x: hidden;
	transition: 0.5s;
	width: 0;
	background-color: #8c39fe;
	/*border-right: 1px solid  #7b1aff;*/
}

.open {
	width: 200px;
}

.container {
	margin: 0 auto;
}