.menu {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100vh;
	overflow-x: hidden;
	transition: 0.5s;
}

.open {
	opacity: 1;
}

.closed {
	opacity: 0;
}

.container {
	margin: 0 auto;
	padding: 70px 20px;
}
