.menu {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100vh;
	overflow-x: hidden;
	transition: 0.5s;
	width: 0;
	background-color: #1a1a1a;
}

.open {
	width: 200px;
}

.container {
	margin: 0 auto;
}