.menu {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100vh;
	overflow-x: hidden;
	transition: 0.5s;
	width: 200px;
}

.open {
	height: 100vh;
}

.container {
	margin: 0 auto;
	padding: 70px 20px;
}