.about {
  //background-color: #1A1A1A;
  background: white;
  display: flex;
  justify-content: center;
}

.about-text-title {
  font-size: 44px;
  color: #8c39fe;
}

.about-text {
  color: black;
  //color: #fff;

  p {
    line-height: 1.3em;
  }
}

.purple {
  //color: #8c39fe;
  font-weight: bold;
}

.container {
  width: 60%;
  max-width: 1024px;
  height: 100vh;
  padding: 60px 20px;
  text-align: left;
}
