@import "src/common-styles";

.timeline-text-title {
  font-size: 44px;
  color: $purple;
  margin-bottom: 1.5rem;
  text-align: center;
}

.timeline {
  width: 100%;
  padding: 60px 20px;
}

.main {
  min-width: 300px;
  max-width: 630px;
  margin: auto;
}
