@import "src/common-styles";

.vl {
  border-left: 6px solid $purple;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.timeline-text-title {
  font-size: 44px;
  color: $purple;
  margin-bottom: 1.5rem;
  text-align: center;
}

.timeline {
  width: 100%;
  padding: 60px 20px;
}

.main {
  min-width: 300px;
  max-width: 630px;
  margin: auto;
}
