$dark-grey: #1a1a1a;
$timeline-grey: #34435E;
$purple: #8c39fe;
$pink: #d53a9d;
$white: #ffffff;
$title-size: 44px;
$text-size: 1.1em;
$font: "Roboto", "Helvetica", "Arial", sans-serif;
$text-line-height: 1.5em;
